<div class="well well-sm">
  <div class="input-group">
    <input ng-model="search" type="text" class="form-control search" placeholder="Search for a wine">
    <span class="input-group-btn">
      <button class="btn btn-search" type="button" ng-click="$ctrl.onClick(search)">
      <i class="fas fa-search"></i>Search</button>
      <button type="button" class="btn btn-primary">HOME</button>
      <a href='/signup'><button type="button" class="btn btn-primary">SIGN UP</button></a>
      <a href='/login'><button type="button" class="btn btn-primary" ng-click="$ctrl.login()">LOG IN</button></a>
    </span>
  </div>
</div>