MVP Requirements

MEAN (recommended) stack
  Mongo (mLab)
  Express
  Angular (or React)
  Node
  
All CRUD operations implemented
  Create
  Read
  Update
  Delete

Use some 3rd party API
  https://github.com/toddmotto/public-apis
  Examples: Twilio, IBM Watson, 

Deployed (Heroku)

Use ESLint (AirBnb Style guide)
