body {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #482961;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
 }

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.well-sm {
  text-align: left;
}

.jumbotron {
  color: white;
  text-shadow: 3px 2px #722f37;
  font-family: Bungee;
  background-image: src('../photos/large-logo.png');
  border-radius: 5px;
}

.wine-bottle {
  height: 75px;
  float: left;
  padding-left: 10px;
}

glyphicon {
  float: left;
}

.nav-btn {
  border-radius: 0;
}

.btn-right {
  border-radius: 0 4px 4px 0;
}

.highlight { 
  color: #482961;
  cursor: pointer;
}

.btn-primary {
  background-color: #482961;
  border-color: #white;
}
