body {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #482961;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.well-sm {
  text-align: left;
}

.jumbotron {
  color: white;
  text-shadow: 3px 2px #722f37;
  font-family: Bungee;
  background-image: src('../photos/large-logo.png');
  border-radius: 5px;
}

.wine-bottle {
  height: 75px;
  float: left;
  padding-left: 10px;
}

glyphicon {
  float: left;
}

.nav-btn {
  border-radius: 0;
}

.btn-right {
  border-radius: 0 4px 4px 0;
}

.highlight { 
  color: #722f37;
  cursor: pointer;
}

.btn-primary {
  background-color: #722f37;
  border-color: #5B0707;
}

.navbar-brand {
  padding-bottom: 15px;
}