<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 style="color: white; font-style: italic">
                    Our recipe recommendations:
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                        <ul align="middle">
                                            <li ng-repeat="recipe in $ctrl.mealrecommendations" recipe="recipe">
                                                <div class="card" align="middle">
                                                    <div class="card-body">
                                                        <div class="col-md-12">
                                                            <img alt="Bootstrap Image Preview" style="margin: auto" src="{{recipe.recipe.image}}" />
                                                        </div>           
                                                    </div>
                                                    <div class="card-body">
                                                        <div>{{recipe.recipe.label}}</div>
                                                    </div>
                                                </div>
                                                <br>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-3"></div>
                </div>
                
            </div>
        </div>
    </div>
