<div class="well well-sm navbar">
  <div class="input-group">
    <input ng-model="search" ng-keydown="$ctrl.onKeyPress($event, search)" type="text" class="form-control search" placeholder="Search for a wine">
    <span class="input-group-btn">
      <button class="btn btn-search" type="button" ng-click="$ctrl.onClick(search)">
      <i class="fas fa-search"></i>Search</button>
      <a href='/'><button type="button" class="btn btn-primary nav-btn" ng-click="$ctrl.gohome()">Home</button></a>
      <a href='/pairings.html'><button type="button" class="btn btn-primary nav-btn">Food Pairings</button></a>
      <a href='/local.html'><button type="button" class="btn btn-primary nav-btn">Share</button></a>
      <button type="button" class="btn btn-primary nav-btn" ng-click="$ctrl.favorites()">Favorites</button>
      <a href='/signup.html'><button type="button" class="btn btn-primary nav-btn">Sign Up</button></a>
      <a href='/login.html'><button type="button" class="btn btn-primary btn-right" ng-click="$ctrl.login()">Log In</button></a>
    </span>
  </div>
</div>