<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2 style="color: white">
                        Build your perfect pairing
                    </h2>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h4 style="color: white; font-style: italic">
                    Choose a wine or meal taste profile:
                </h4>
            </div>
        </div>
        <br>
        <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <h5 class="card-header">
                            Wine Preferences
                        </h5>
                        <div class="card-body">
                                    <div class="card-body">
                                            <label>
                                                <input class="radio" type="radio" name="wineType" value="bitter" ng-model="$ctrl.wineSelection.wineType"/> Bitter
                                            </label>
                                                <br>
                                            <label>
                                                <input class="radio" type="radio" name="wineType" value="dessert" ng-model="$ctrl.wineSelection.wineType"/> Dessert Wine
                                            </label>
                                                <br>
                                            <label>
                                                <input class="radio" type="radio" name="wineType" value="meaty" ng-model="$ctrl.wineSelection.wineType"/> Meaty
                                            </label>
                                                <br>
                                            <label>
                                                <input class="radio" type="radio" name="wineType" value="salty" ng-model="$ctrl.wineSelection.wineType"/> Salty
                                            </label>
                                                <br>
                                            <label>
                                                <input class="radio" type="radio" name="wineType" value="savoury" ng-model="$ctrl.wineSelection.wineType"/> Savoury
                                            </label>
                                                <br>
                                            <label>
                                                <input class="radio" type="radio" name="wineType" value="sour" ng-model="$ctrl.wineSelection.wineType"/> Sour
                                            </label>
                                            <br>
                                            <label>
                                                <input class="radio" type="radio" name="wineType" value="spicy" ng-model="$ctrl.wineSelection.wineType"/> Spicy
                                            </label>
                                    </div>
                        </div>
                        <div class="card-footer">
                            <a>
                                <button type="submit" class="btn btn-primary" ng-click="$ctrl.changeview('meal')">
                                    Submit
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <h5 class="card-header">
                            Meal Preferences
                        </h5>
                        <div class="card-body">
                                <div class="card-body">
                                        <label>
                                            <input class="radio" type="radio" name="mealType" value="barbeque" ng-model="$ctrl.mealSelection.mealType"/> Barbeque
                                        </label>
                                            <br>
                                        <label>
                                            <input class="radio" type="radio" name="mealType" value="dessert" ng-model="$ctrl.mealSelection.mealType"/> Dessert
                                        </label>
                                            <br>
                                        <label>
                                            <input class="radio" type="radio" name="mealType" value="red-meat" ng-model="$ctrl.mealSelection.mealType"/> Red Meat
                                        </label>
                                            <br>
                                        <label>
                                            <input class="radio" type="radio" name="mealType" value="salty" ng-model="$ctrl.mealSelection.mealType"/> Salty
                                        </label>
                                            <br>
                                        <label>
                                            <input class="radio" type="radio" name="mealType" value="seafood" ng-model="$ctrl.mealSelection.mealType"/> Seafood
                                        </label>
                                            <br>
                                        <label>
                                            <input class="radio" type="radio" name="mealType" value="spicy" ng-model="$ctrl.mealSelection.mealType"/> Spicy
                                        </label>
                                </div>
                        </div>
                        <div class="card-footer">
                                <button type="submit" class="btn btn-primary" 
                                    ng-click="$ctrl.changeview('wine'); $ctrl.getwinerec($ctrl.mealSelection.mealType)">
                                    Submit
                                </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
    </div>
<!-- <pre>{{$ctrl.getwinerec}}</pre> -->
<!-- <pre>{{$ctrl.mealSelection.mealType}}</pre> -->