<div class="container-fluid">
        <div class="logo">
            <a href="index.html" class="navbar-brand"><img height=150px src="../photos/large-logo.png"></a>
        </div>
        <br>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2 style="color: white">
                    Build your perfect pairing
                </h2>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h4 style="color: white; font-style: italic">
                Choose a wine or meal taste profile:
            </h4>
        </div>
    </div>
    <br>
    <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
                <div class="card">
                    <h5 class="card-header">
                        Wine Preferences
                    </h5>
                    <div class="card-body">
                                <div class="card-body">
                                        <label>
                                            <input type="radio"/> Bitter
                                        </label>
                                            <br>
                                        <label>
                                            <input type="radio"/> Dessert Wine
                                        </label>
                                            <br>
                                        <label>
                                            <input type="radio"/> Meaty
                                        </label>
                                            <br>
                                        <label>
                                            <input type="radio"/> Salty
                                        </label>
                                            <br>
                                        <label>
                                            <input type="radio"/> Savoury
                                        </label>
                                            <br>
                                        <label>
                                            <input type="radio"/> Sour
                                        </label>
                                        <br>
                                        <label>
                                            <input type="radio"/> Spicy
                                        </label>
                                </div>
                    </div>
                    <div class="card-footer">
                        <a href="/src/pairings.js">
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
                <div class="card">
                    <h5 class="card-header">
                        Meal Preferences
                    </h5>
                    <div class="card-body">
                            <div class="card-body">
                                    <label>
                                        <input type="radio"/> Barbeque Sauces
                                    </label>
                                        <br>
                                    <label>
                                        <input type="radio"/> Dessert
                                    </label>
                                        <br>
                                    <label>
                                        <input type="radio"/> Red Meat
                                    </label>
                                        <br>
                                    <label>
                                        <input type="radio"/> Salty
                                    </label>
                                        <br>
                                    <label>
                                        <input type="radio"/> Seafood
                                    </label>
                                        <br>
                                    <label>
                                        <input type="radio"/> Spicy
                                    </label>
                                    <br>
                                    <label style="font-style: italic">
                                        <input type="checkbox"/> Glutten-free
                                    </label>
                                    <br>
                                    <label style="font-style: italic">
                                        <input type="checkbox"/> Low Carb
                                    </label>
                                    <br>
                                    <label style="font-style: italic">
                                        <input type="checkbox"/> Sugar-free
                                    </label>
                            </div>
                    </div>
                    <div class="card-footer">
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
</div>