<div class="container-fluid">
    <div class="logo">
        <a href="index.html" class="navbar-brand"><img height=150px src="../photos/large-logo.png"></a>
    </div>
    <div class="main">
        <pairingsform ng-if="$ctrl.view === 'form'" view="$ctrl.view" changeview="$ctrl.changeview" 
        winerecomendations="$ctrl.wineRecomendations" mealrecomendations="$ctrl.mealrecomendations"></pairingsform>
        <winerec ng-if="$ctrl.view === 'wine'" winerecomendations="$ctrl.winerecomendations"></winerec>
        <mealrec ng-if="$ctrl.view === 'meal'" mealrecomendations="$ctrl.mealrecomendations"></mealrec>
    </div>
</div>
