<!-- <div class="container-fluid">
  <div class="well">
    <div class="row">
      <img result="$ctrl.result" class="wine-bottle" ng-src={{$ctrl.result.galleryUrl}}/>
      <h4 result="$ctrl.result" class="item-text">{{$ctrl.result.findItemsByKeywordsResponse[0].searchResult[0].title}}</h4>
      <pre result="$ctrl.result">{{$ctrl.result.findItemsByKeywordsResponse[0].searchResult[0]}}</pre>
      <button type="button" class="btn btn-default btn-md">
        <span class="glyphicon glyphicon-star" aria-hidden="true">Buy Now</span>
      </button>
    </div>
  </div>
</div> -->
<p style="color: white">{{$ctrl.result}}</p>
<!-- <div class="container-fluid">
  <div class="well">
    <div class="row">
      <img class="wine-bottle" ng-class="{highlight: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-src={{$ctrl.wine.image}}/>
      <h4 class="item-text" ng-class="{highlight: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">{{$ctrl.result.findItemsByKeywordsResponse[0].searchResult[0].item[0].title[0]}}</h4>
      <button type="button" class="btn btn-default btn-md">
        <span class="glyphicon glyphicon-star" aria-hidden="true" ng-click="$ctrl.favorite()"> Favorite</span>
      </button>
    </div>
  </div>
</div> -->